@model APP_LAWYER.WEB.Areas.Admin.Models.AdminViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Административная панель</h1>

<h2>Категории</h2>
<!-- Здесь вы можете отобразить список категорий, используя Model.Categories -->

<h2>Подкатегории</h2>
<!-- Здесь вы можете отобразить список подкатегорий, используя Model.Subcategories -->

<h2>Шаблоны документов</h2>
