@model APP_LAWYER.DAL.Entities.DocumentTemplate

@{
    ViewBag.Title = "Create Document Template";
    Layout = "_Layout";
}

<h2>Create Document Template</h2>

<form asp-action="Create" method="post" class="mt-4">
    <div class="form-group">
        <label for="Title">Title</label>
        <input class="form-control" name="Title" id="Title" type="text" required>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea id="Description" name="Description" class="form-control" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="https://cdn.ckeditor.com/4.16.0/full-all/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Description', {
       toolbar: 'Full',
    });
</script>
<script>
$(document).ready(function() {
    $('form').on('submit', function() {
        for (var instanceName in CKEDITOR.instances) {
            CKEDITOR.instances[instanceName].updateElement();
        }
    });
});
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}