@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size: 18px; color: #333; line-height: 1.6;">На нашем сайте мы собираем и храним информацию, которую вы предоставляете при регистрации или подписке на наши услуги. Эта информация может включать ваше имя, адрес электронной почты и другие контактные данные. Мы используем эту информацию для предоставления вам наших услуг и улучшения вашего опыта на нашем сайте.</p>

<p style="font-size: 18px; color: #333; line-height: 1.6;">Мы также используем файлы cookie для улучшения функциональности сайта и предоставления персонализированного контента. Для получения дополнительной информации о том, как мы используем ваши данные, пожалуйста, прочитайте нашу политику конфиденциальности.</p>

<p style="font-size: 18px; color: #333; line-height: 1.6;">Все данные, которые вы предоставляете на этом сайте, сохраняются в соответствии с адвокатской тайной. Мы уважаем вашу конфиденциальность и не будем разглашать ваши данные третьим лицам без вашего явного согласия.</p>