@model IReadOnlyList<APP_LAWYER.DAL.Entities.DocumentTemplate>

@{
    ViewBag.Title = "Create Document";
    Layout = "_Layout";
}

<h2>Create Document</h2>

<form method="post" action="/User/CreateDocumentForUser">
    <div>
        <label for="templateId">Template:</label>
        <select id="templateId" name="templateId" onchange="document.getElementById('documentContent').value = this.options[this.selectedIndex].getAttribute('data-description')" required>
            @foreach (var template in Model)
            {
                <option value="@template.Id" data-description="@template.Description">@template.Title</option>
            }
        </select>
    </div>
    <div>
        <label for="documentContent">Document Content:</label>
        <textarea id="documentContent" name="documentContent" required style="width: 100%; max-width: 100%; height: 300px; resize: vertical; padding: 10px; border: 1px solid #ccc; font-size: 16px;"></textarea>
    </div>
    <div>
        <button type="submit">Create Document</button>
    </div>
</form>